---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .JobName }}
spec:
  template:
    spec:
      hostPID: true
      nodeSelector:
        {{- $node := index .Node 0 -}}
        kubernetes.io/hostname: {{ $node.Name }}
      containers:
        - name: kube-bench
          image: rewiko/kube-bench:0.0.5
          command: ["kube-bench", "{{ .Type }}", "--json", "--version=1.15"]
          volumeMounts:
            - name: var-lib-kubelet
              mountPath: /var/lib/kubelet
              readOnly: true
            - name: etc-systemd
              mountPath: /etc/systemd
              readOnly: true
            - name: etc-kubernetes
              mountPath: /etc/kubernetes
              readOnly: true
              # /usr/local/mount-from-host/bin is mounted to access kubectl / kubelet, for auto-detecting the Kubernetes version.
              # You can omit this mount if you specify --version as part of the command.
            - name: usr-bin
              mountPath: /usr/local/mount-from-host/bin
              readOnly: true
      restartPolicy: Never
      volumes:
        - name: var-lib-kubelet
          hostPath:
            path: "/var/lib/kubelet"
        - name: etc-systemd
          hostPath:
            path: "/etc/systemd"
        - name: etc-kubernetes
          hostPath:
            path: "/etc/kubernetes"
        - name: usr-bin
          hostPath:
            path: "/usr/bin"
