# Image Scanning

{{- range $keyArea, $area := .ImageScan.AreaSummary }}

## Vulnerabilities for {{ $area.Name }}

| Total Image Count | Total Container Count | Total Critical| Total High | Total Medium | Total Low | Total Unknown |
|--------|----------|---------|------|--------|-----|-----|
| {{ $area.ImageCount }} | {{ $area.ContainerCount }} | {{ index $area.TotalVulnerabilityBySeverity "CRITICAL" }} | {{ index $area.TotalVulnerabilityBySeverity "HIGH" }} | {{ index $area.TotalVulnerabilityBySeverity "MEDIUM" }} | {{ index $area.TotalVulnerabilityBySeverity "LOW" }} | {{ index $area.TotalVulnerabilityBySeverity "UNKNOWN" }}|

{{- range $keyTeam, $team := $area.Teams }}

### Vulnerabilities for {{ $area.Name }} - {{ $team.Name }}

#### Summary

| Images | Containers | Critical| High | Medium | Low | Unknown |
|--------|----------|---------|------|--------|-----|-----|
{{- range $key, $specs := $team.ImageVulnerabilitySummary }}
| {{ $key }} | {{ $specs.ContainerCount }} | {{ index $specs.TotalVulnerabilityBySeverity "CRITICAL" }} | {{ index $specs.TotalVulnerabilityBySeverity "HIGH" }} | {{ index $specs.TotalVulnerabilityBySeverity "MEDIUM" }} | {{ index $specs.TotalVulnerabilityBySeverity "LOW" }} | {{ index $specs.TotalVulnerabilityBySeverity "UNKNOWN" }}|
{{- end }}

#### Vulnerabilities details

| Image | CVE | Severity | PkgName | Description |
|-------|-----|----------|---------|-------------|
{{ range $key, $specs := $team.Images }}
{{- range $trivyKeyOutput, $trivyOutput := $specs.TrivyOutput }}
{{- if $trivyOutput.Vulnerabilities }}
{{- range $trivyKey, $trivySpecs := $trivyOutput.Vulnerabilities }}
{{- $description := $trivySpecs.Title -}}
{{- if not $trivySpecs.Title -}}
{{- $description = $trivySpecs.Description -}}
{{- end -}}
| {{ $specs.ImageName }} | [{{ $trivySpecs.VulnerabilityID }}](https://nvd.nist.gov/vuln/detail/{{ $trivySpecs.VulnerabilityID }}) | {{ $trivySpecs.Severity }} | {{ $trivySpecs.PkgName }} | {{ truncate $description 105 }} |
{{ end}} {{/* end of team if vulnerabilities */}}
{{- end}} {{/* end of team vulnerabilities */}}
{{- end}} {{/* end of team trivy output */}}
{{- end}} {{/* end of team images */}}
{{- end}} {{/* end of team */}}
{{- end}} {{/* end of area */}}
