<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Vulnerability Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
</head>
<body class="p-3">
<h1># {{ .CisScan.Title }}</h1>
Benchmark specification: {{ range $idx, $res := .CisScan.RelatedResources }}<a href="{{ $res }}" target="_blank">Link {{ inc $idx }}</a> {{ end }}
<br><br>
<div class="form-group form-check">
<input id="check1" type="checkbox" class="form-check-input" onclick="if(this.checked) { $('.check-passed').addClass('d-none'); } else { $('.check-passed').removeClass('d-none'); }">
<label class="form-check-label" for="check1">Hide passed</label>
</div>
<table id="result-table" class="table table-striped table-hover">
    <thead>
    <tr class="table-primary">
        <th id="th-id"><a id="a-id" class="alert-link" onclick="sortBy('id');">Id</a></th>
        <th id="th-severity"><a id="a-severity" class="alert-link" onclick="sortBy('severity');">Severity</a></th>
        <th>Name</th>
        <th>Result</th>
    </tr>
    </thead>
    <tbody>
    {{- range $unused, $result := .CisScan.Results }}
    <tr class="{{ $length := len $result.Results }}{{if eq $length 0}}check-passed{{else}}check-failed{{end}}">
        <td>{{ $result.ID }}</td>
        <td>{{ $result.Severity }}</td>
        <td>{{ $result.Name }} <small><p>{{ $result.Description }}</p></small>
        {{ $length := len $result.Results }}{{if gt $length 0}}
        Misconfigured resources: <a data-toggle="collapse" href="#res{{ replace $result.ID "." "a" }}"><span class="badge badge-pill badge-danger">{{ $length }}</span></a>

        <div class="accordion collapse" id="res{{ replace $result.ID "." "a" }}">
        {{- range $idx, $resources := $result.Results }}
          <div class="card">
            <div class="card-header p-0" id="res{{ replace $result.ID "." "b" }}{{ $idx }}">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#res{{ replace $result.ID "." "b" }}{{ $idx }}card" aria-expanded="false" aria-controls="res{{ replace $result.ID "." "b" }}{{ $idx }}card">
                  {{ $resources.Target }}
                </button>
              </h2>
            </div>

            <div id="res{{ replace $result.ID "." "b" }}{{ $idx }}card" class="collapse" aria-labelledby="res{{ replace $result.ID "." "b" }}{{ $idx }}" data-parent="#res{{ replace $result.ID "." "a" }}">
              <div class="card-body">
                {{- range $unused, $details := $resources.Misconfigurations }}
                  <div class="row">
                    <label class="col-sm-2"><strong>Title:</strong></label>
                    <div class="col-sm-10">
                      {{ $details.Title }}
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2"><strong>Description:</strong></label>
                    <div class="col-sm-10">
                      {{ $details.Description }}
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2"><strong>Message:</strong></label>
                    <div class="col-sm-10">
                      {{ $details.Message }}
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2"><strong>Resolution:</strong></label>
                    <div class="col-sm-10">
                      {{ $details.Resolution }}
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2"><strong>Severity:</strong></label>
                    <div class="col-sm-10">
                      {{ $details.Severity }}
                    </div>
                  </div>
                  {{ $lengthr := len $details.References }}{{if gt $lengthr 0}}<div class="row">
                    <label class="col-sm-2"><strong>References:</strong></label>
                    <div class="col-sm-10">
                      {{- range $unused, $detref := $details.References }}
                        <p><a href="{{ $detref }}" target="_blank">{{ $detref }}</a></p>
                      {{ end }}
                    </div>
                  </div>{{ end }}
                {{ end }}
              </div>
            </div>
          </div>
          {{end}}
        </div>
        {{end}}
        </td>
        <td><b>{{ $length := len $result.Results }}{{if eq $length 0}}<p style="color:green">PASS</p>{{else}}<p style="color:red">FAIL</p>{{end}}</b></td>
    </tr>
    {{- end }}
    </tbody>
</table>


<script src="dist/jquery.slim.min.js"></script>
<script src="dist/umd/popper.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>

<script>
    var currentSortBy = "";

    function sortBy(column) {
        var asc = true;
        if ($('th#th-' + column).hasClass('dropup')) asc = false;
        $('[id^=a-]').removeClass('dropdown-toggle');
        $('[id^=th-]').removeClass('dropup');
        if (currentSortBy === column && asc) $('th#th-' + column).addClass('dropup');

        $('a#a-' + column).addClass('dropdown-toggle')
        currentSortBy = column;
    }

    $('th').click(function () {
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc) {
            rows = rows.reverse()
        }
        for (var i = 0; i < rows.length; i++) {
            table.append(rows[i])
        }
    })

    function comparer(index) {
        return function (a, b) {
            var valA = severityToInt(getCellValue(a, index)), valB = severityToInt(getCellValue(b, index))
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }

    function severityToInt(severity){
        switch (severity) {
            case 'CRITICAL':
                return 4
            case 'HIGH':
                return 3;
            case 'MEDIUM':
                return 2;
            case 'LOW':
                return 1;
            case 'UNKNOWN':
                return 0;
            default:
                return severity;
        }
    }

    function getCellValue(row, index) {
        return $(row).children('td').eq(index).text()
    }

</script>

</body>
</html>
